In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("task_data.csv")
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [5]:
df.drop(labels=["ID","Delivery_person_ID"],axis=1,inplace=True)

In [6]:
df["order_day"]=pd.to_datetime(df["Order_Date"],dayfirst=True).dt.day
df["order_month"]=pd.to_datetime(df["Order_Date"], dayfirst=True).dt.month

In [7]:
df["order_day"]

0        12
1        13
2         4
3        13
4        14
         ..
45579    24
45580    16
45581    11
45582     7
45583     2
Name: order_day, Length: 45584, dtype: int32

In [8]:
df["order_month"]

0        2
1        2
2        3
3        2
4        2
        ..
45579    3
45580    2
45581    3
45582    3
45583    3
Name: order_month, Length: 45584, dtype: int32

In [9]:
df.drop("Order_Date",axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          43730 non-null  float64
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  43853 non-null  object
 7   Time_Order_picked            45584 non-null  object
 8   Weather_conditions           44968 non-null  object
 9   Road_traffic_density         44983 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          44591 non-null  float64
 14  Festival                     45356 non-null  object
 15  City                         44384 non-null  object
 16  Time_taken (min)             45584 non-null  int64
 17  order_day                    45584 non-null  int32
 18  order_month                  45584 non-null  int32
dtypes: float64(7), int32(2), int64(2), object(8)
memory usage: 6.3+ MB

In [10]:
#first we need to replace "." with ":"for make our data easy to split
df["Time_Orderd"]=df["Time_Orderd"].str.replace(".",":")

In [11]:
#After replace we need to splite the data hours ans mins
df["order_hours"]=df["Time_Orderd"].str.split(":").str[0]
df["order_min"]=df["Time_Orderd"].str.split(":").str[1]

In [12]:
df["order_hours"]=df["order_hours"].astype(float)
df["order_min"]=df["order_min"].astype(float)

In [13]:
#when look into the order_min than we got its not good as we want than we use some auto mation
for i in df["order_min"]:
    if i>60:
        p=i-60
        df["order_min"]=df["order_min"].replace(i,i-p)

#why 60?
#bcoz 1 hour have 60 min

In [14]:
df["order_hours"]

0        21.0
1        14.0
2        17.0
3         9.0
4        19.0
         ...
45579    11.0
45580    19.0
45581    23.0
45582    13.0
45583    17.0
Name: order_hours, Length: 45584, dtype: float64

In [15]:
df["order_min"]

0        55.0
1        55.0
2        30.0
3        20.0
4        50.0
         ...
45579    35.0
45580    55.0
45581    50.0
45582    35.0
45583    10.0
Name: order_min, Length: 45584, dtype: float64

In [16]:
df["Time_Order_picked"]=df["Time_Order_picked"].str.replace(".",":")

In [17]:
df["picked_hours"]=df["Time_Order_picked"].str.split(":").str[0]
df["picked_min"]=df["Time_Order_picked"].str.split(":").str[1]
df["picked_hours"]=df["picked_hours"].astype(float)
df["picked_min"]=df["picked_min"].astype(float)

In [18]:
#when look into the order_min than we got its not good as we want than we use some auto mation
for i in df["picked_min"]:
    if i>60:
        p=i-60
        df["picked_min"]=df["picked_min"].replace(i,i-p)

#why 60?
#bcoz 1 hour have 60 min

In [19]:
df["picked_hours"]

0        22.0
1        15.0
2        17.0
3         9.0
4        20.0
         ...
45579    11.0
45580    20.0
45581    24.0
45582    13.0
45583    17.0
Name: picked_hours, Length: 45584, dtype: float64

In [20]:
df["picked_min"]

0        10.0
1         5.0
2        40.0
3        30.0
4         5.0
         ...
45579    45.0
45580    10.0
45581     5.0
45582    40.0
45583    15.0
Name: picked_min, Length: 45584, dtype: float64

In [24]:
df.drop(labels=["Time_Orderd","Time_Order_picked"],axis=1,inplace=True)
df

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,multiple_deliveries,Festival,City,Time_taken (min),order_day,order_month,order_hours,order_min,picked_hours,picked_min
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,...,3.0,No,Metropolitian,46,12,2,21.0,55.0,22.0,10.0
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,...,1.0,No,Metropolitian,23,13,2,14.0,55.0,15.0,5.0
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,...,1.0,No,Metropolitian,21,4,3,17.0,30.0,17.0,40.0
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,...,0.0,No,Metropolitian,20,13,2,9.0,20.0,9.0,30.0
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,...,1.0,No,Metropolitian,41,14,2,19.0,50.0,20.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,30.0,4.8,26.902328,75.794257,26.912328,75.804257,Windy,High,1,Meal,...,0.0,No,Metropolitian,32,24,3,11.0,35.0,11.0,45.0
45580,21.0,4.6,0.000000,0.000000,0.070000,0.070000,Windy,Jam,0,Buffet,...,1.0,No,Metropolitian,36,16,2,19.0,55.0,20.0,10.0
45581,30.0,4.9,13.022394,80.242439,13.052394,80.272439,Cloudy,Low,1,Drinks,...,0.0,No,Metropolitian,16,11,3,23.0,50.0,24.0,5.0
45582,20.0,4.7,11.001753,76.986241,11.041753,77.026241,Cloudy,High,0,Snack,...,1.0,No,Metropolitian,26,7,3,13.0,35.0,13.0,40.0
45583,23.0,4.9,23.351058,85.325731,23.431058,85.405731,Fog,Medium,2,Snack,...,1.0,No,Metropolitian,36,2,3,17.0,10.0,17.0,15.0

In [22]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder


from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer