In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("task_data.csv")
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [3]:
from sklearn.impute import SimpleImputer

In [4]:
imputer=SimpleImputer(strategy="median")
imputer1=SimpleImputer(strategy="most_frequent")

In [5]:
num_col=df.columns[df.dtypes!="object"]
cat_col=df.columns[df.dtypes=="object"]

In [6]:
imputer.fit_transform(num_col)

ValueError: Cannot use median strategy with non-numeric data:
could not convert string to float: 'Delivery_person_Age'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [8]:
df.drop(labels=["ID","Delivery_person_ID"],axis=1,inplace=True)

In [11]:
df["order_day"]=pd.to_datetime(df["Order_Date"],dayfirst=True).dt.day
df["order_month"]=pd.to_datetime(df["Order_Date"], dayfirst=True).dt.month

In [10]:
df["order_day"]

0        12
1        13
2         4
3        13
4        14
         ..
45579    24
45580    16
45581    11
45582     7
45583     2
Name: order_day, Length: 45584, dtype: int32

In [12]:
df["order_month"]

0        2
1        2
2        3
3        2
4        2
        ..
45579    3
45580    2
45581    3
45582    3
45583    3
Name: order_month, Length: 45584, dtype: int32

In [13]:
df.drop("Order_Date",axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          43730 non-null  float64
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  43853 non-null  object
 7   Time_Order_picked            45584 non-null  object
 8   Weather_conditions           44968 non-null  object
 9   Road_traffic_density         44983 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          44591 non-null  float64
 14  Festival                     45356 non-null  object
 15  City                         44384 non-null  object
 16  Time_taken (min)             45584 non-null  int64
 17  order_day                    45584 non-null  int32
 18  order_month                  45584 non-null  int32
dtypes: float64(7), int32(2), int64(2), object(8)
memory usage: 6.3+ MB

In [14]:
#first we need to replace "." with ":"for make our data easy to split
df["Time_Orderd"]=df["Time_Orderd"].str.replace(".",":")

In [15]:
#After replace we need to splite the data hours ans mins
df["order_hours"]=df["Time_Orderd"].str.split(":").str[0]
df["order_min"]=df["Time_Orderd"].str.split(":").str[1]

In [16]:
df["order_hours"]=df["order_hours"].astype(float)
df["order_min"]=df["order_min"].astype(float)

In [17]:
#when look into the order_min than we got its not good as we want than we use some auto mation
for i in df["order_min"]:
    if i>60:
        p=i-60
        df["order_min"]=df["order_min"].replace(i,i-p)

#why 60?
#bcoz 1 hour have 60 min

In [18]:
df["order_hours"]

0        21.0
1        14.0
2        17.0
3         9.0
4        19.0
         ...
45579    11.0
45580    19.0
45581    23.0
45582    13.0
45583    17.0
Name: order_hours, Length: 45584, dtype: float64

In [19]:
df["order_min"]

0        55.0
1        55.0
2        30.0
3        20.0
4        50.0
         ...
45579    35.0
45580    55.0
45581    50.0
45582    35.0
45583    10.0
Name: order_min, Length: 45584, dtype: float64

In [20]:
df["Time_Order_picked"]=df["Time_Order_picked"].str.replace(".",":")

In [21]:
df["picked_hours"]=df["Time_Order_picked"].str.split(":").str[0]
df["picked_min"]=df["Time_Order_picked"].str.split(":").str[1]
df["picked_hours"]=df["picked_hours"].astype(float)
df["picked_min"]=df["picked_min"].astype(float)

In [22]:
#when look into the order_min than we got its not good as we want than we use some auto mation
for i in df["picked_min"]:
    if i>60:
        p=i-60
        df["picked_min"]=df["picked_min"].replace(i,i-p)

#why 60?
#bcoz 1 hour have 60 min

In [23]:
df["picked_hours"]

0        22.0
1        15.0
2        17.0
3         9.0
4        20.0
         ...
45579    11.0
45580    20.0
45581    24.0
45582    13.0
45583    17.0
Name: picked_hours, Length: 45584, dtype: float64

In [24]:
df["picked_min"]

0        10.0
1         5.0
2        40.0
3        30.0
4         5.0
         ...
45579    45.0
45580    10.0
45581     5.0
45582    40.0
45583    15.0
Name: picked_min, Length: 45584, dtype: float64

In [25]:
df.drop(labels=["Time_Orderd","Time_Order_picked"],axis=1,inplace=True)
df

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,multiple_deliveries,Festival,City,Time_taken (min),order_day,order_month,order_hours,order_min,picked_hours,picked_min
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,...,3.0,No,Metropolitian,46,12,2,21.0,55.0,22.0,10.0
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,...,1.0,No,Metropolitian,23,13,2,14.0,55.0,15.0,5.0
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,...,1.0,No,Metropolitian,21,4,3,17.0,30.0,17.0,40.0
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,...,0.0,No,Metropolitian,20,13,2,9.0,20.0,9.0,30.0
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,...,1.0,No,Metropolitian,41,14,2,19.0,50.0,20.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,30.0,4.8,26.902328,75.794257,26.912328,75.804257,Windy,High,1,Meal,...,0.0,No,Metropolitian,32,24,3,11.0,35.0,11.0,45.0
45580,21.0,4.6,0.000000,0.000000,0.070000,0.070000,Windy,Jam,0,Buffet,...,1.0,No,Metropolitian,36,16,2,19.0,55.0,20.0,10.0
45581,30.0,4.9,13.022394,80.242439,13.052394,80.272439,Cloudy,Low,1,Drinks,...,0.0,No,Metropolitian,16,11,3,23.0,50.0,24.0,5.0
45582,20.0,4.7,11.001753,76.986241,11.041753,77.026241,Cloudy,High,0,Snack,...,1.0,No,Metropolitian,26,7,3,13.0,35.0,13.0,40.0
45583,23.0,4.9,23.351058,85.325731,23.431058,85.405731,Fog,Medium,2,Snack,...,1.0,No,Metropolitian,36,2,3,17.0,10.0,17.0,15.0

In [27]:
X=df.drop(labels=["Time_taken (min)"],axis=1)
y=df[["Time_taken (min)"]]

In [28]:
X

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,order_day,order_month,order_hours,order_min,picked_hours,picked_min
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,motorcycle,3.0,0.0,Metropolitian,12,2,21.0,55.0,22.0,10.0
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,motorcycle,1.0,0.0,Metropolitian,13,2,14.0,55.0,15.0,5.0
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,scooter,1.0,0.0,Metropolitian,4,3,17.0,30.0,17.0,40.0
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,motorcycle,0.0,0.0,Metropolitian,13,2,9.0,20.0,9.0,30.0
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,scooter,1.0,0.0,Metropolitian,14,2,19.0,50.0,20.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,30.0,4.8,26.902328,75.794257,26.912328,75.804257,Windy,High,1,Meal,motorcycle,0.0,0.0,Metropolitian,24,3,11.0,35.0,11.0,45.0
45580,21.0,4.6,0.000000,0.000000,0.070000,0.070000,Windy,Jam,0,Buffet,motorcycle,1.0,0.0,Metropolitian,16,2,19.0,55.0,20.0,10.0
45581,30.0,4.9,13.022394,80.242439,13.052394,80.272439,Cloudy,Low,1,Drinks,scooter,0.0,0.0,Metropolitian,11,3,23.0,50.0,24.0,5.0
45582,20.0,4.7,11.001753,76.986241,11.041753,77.026241,Cloudy,High,0,Snack,motorcycle,1.0,0.0,Metropolitian,7,3,13.0,35.0,13.0,40.0
45583,23.0,4.9,23.351058,85.325731,23.431058,85.405731,Fog,Medium,2,Snack,scooter,1.0,0.0,Metropolitian,2,3,17.0,10.0,17.0,15.0

In [ ]:
y

       Time_taken (min)
0                    46
1                    23
2                    21
3                    20
4                    41
...                 ...
45579                32
45580                36
45581                16
45582                26
45583                36

[45584 rows x 1 columns]

In [ ]:
# Define which columns should be ordinal-encoded and which should be scaled
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns
print(categorical_cols)
print(numerical_cols)

Index(['Weather_conditions', 'Road_traffic_density', 'Type_of_order',
       'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')
Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Vehicle_condition',
       'multiple_deliveries', 'order_day', 'order_month', 'order_hours',
       'order_min', 'picked_hours', 'picked_min'],
      dtype='object')

In [ ]:
X.sample()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,order_day,order_month,order_hours,order_min,picked_hours,picked_min
32391,22.0,4.9,22.651847,75.881991,22.761847,75.991991,Stormy,Low,0,Drinks,motorcycle,NaN,No,Metropolitian,6,4,22.0,10.0,22.0,15.0

In [ ]:
wheather=['Sandstorms','Fog', 'Stormy', 'Windy', 'Cloudy', 'Sunny']
road_jam=['Jam', 'High', 'Medium', 'Low']
food_order=['Drinks', 'Buffet','Snack', 'Meal']
vehical_cat=["bicycle","electric_scooter","scooter","motorcycle"]
festival=["No","Yes"]
city_cat=['Metropolitian', 'Urban', 'Semi-Urban']

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder


from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [ ]:
## Numerical Pipeline
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())

    ]

)

# Categorigal Pipeline
cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[wheather,road_jam,food_order,vehical_cat,festival,city_cat])),
    ('scaler',StandardScaler())
    ]

)

preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols),
('cat_pipeline',cat_pipeline,categorical_cols)
])

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [ ]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [ ]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [ ]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [ ]:
regression.coef_

array([[ 2.26397711e+00, -2.31413792e+00,  5.82387202e-03,
        -5.32588261e-01,  4.10031616e-02,  4.67015875e-01,
        -1.75427354e+00,  2.08818136e+00,  7.21956565e-02,
         1.06082007e-03,  4.12986599e-01,  2.19755566e-01,
         2.85091525e-01, -6.46663444e-02, -8.53851366e-01,
        -3.09633781e+00,  4.70071849e-02,  2.02462909e-02,
         1.61857903e+00, -7.59175418e-01]])

In [ ]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [ ]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 6.706139545861732
MAE: 5.288212804951732
R2 score 48.00583697362843
===================================


Lasso
Model Training Performance
RMSE: 7.11089617983112
MAE: 5.660438847716621
R2 score 41.54009640339824
===================================


Ridge
Model Training Performance
RMSE: 6.706136657401036
MAE: 5.28821191659761
R2 score 48.00588176335074
===================================


Elasticnet
Model Training Performance
RMSE: 7.164318598899156
MAE: 5.71848315668717
R2 score 40.658407002559585
===================================